@using Educat.Logic.Pages;

@model CourcePage
@{
    ViewBag.Title = "Cource";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/CustomScripts/cource.js"></script>

<script>
    window.model = @Html.Raw(Json.Encode(Model));   
</script>

<div class="wrap-mid">  
    <div class="content-wrapper">
        <div class="buttonPanel">
            <a data-bind="attr: { href: '/Home/School/' + SchoolId() }">
                <div data-bind="    text: SchoolName"></div>
            </a>
        </div>
        <div class="addupdate">
            <div class="allHide" data-bind="style: {display: mainFormVisib() ? 'none' : 'block'} ">
                <div class="dialog" data-bind="with: addStudentPopup, style:{display: addStudentPopup()==null ? 'none': 'block'}">
                    <div class="title">
                        <strong>Add</strong>
                        <div data-bind="click: $parent.closeAddStudent">
                            X
                        </div>
                    </div>
                    <div class="center">
                        <select data-bind="options: availableStudents, optionsCaption: $root.dynamicOptionsCaption(), value: selectedStudent,
                                             optionsText: function(item) {
                                                return item.FirstName() + ' ' + item.LastName()}">
                        </select>
                        <br />
                        <button class="butt" data-bind="click: add, enable: enabled()">Add</button>
                        <button class="butCancel" data-bind="click: $parent.closeAddStudent">Cancel</button>
                    </div>
                </div>

                <div class="dialog" data-bind="with: deleteStudentPopup, style:{display: deleteStudentPopup()==null ? 'none': 'block'}">
                    <div class="title">
                        <strong>Remove</strong>
                        <div data-bind="click: $parent.closeDeleteStudent">
                            X
                        </div>
                    </div>
                    <div class="center">
                        <h3>Are you sure to delete student from school?</h3>
                        <button class="butt" data-bind="click: deletes">Remove</button>
                        <button class="butCancel" data-bind="click: $parent.closeDeleteStudent">Cancel</button>
                    </div>
                </div>

                <div class="dialog" data-bind="with: changeMarkPopup, style:{display: changeMarkPopup()==null ? 'none': 'block'}">
                    <div class="title">
                        <strong>Change</strong>
                        <div data-bind="click: $parent.closeChangeMark">
                            X
                        </div>
                    </div>
                    <div class="center">
                        <input type="text" data-bind="value: Mark"/>
                        <br>
                        <button class="butt" data-bind="click: change">Change</button>
                        <button class="butCancel" data-bind="click: $parent.closeChangeMark">Cancel</button>
                    </div>
                </div>
            </div>
            
            @if (Model.Id > 0)
            {
                <h1 class="addTitle">Update Cource</h1>
            }
            else
            {
                <h1 class="addTitle">Add Cource</h1> 
            }
            <div class="mainForm notDialog" data-bind="style: {opacity: mainFormVisib() ? '1' : '0.5'} ">
                <ul>
                    <li>
                        <label><strong>Name</strong></label>
                        <span class="valMess" data-bind="validationMessage: Name"></span>
                        @if (Model.Id > 0)
                        {
                            <input type="text" name="Name" data-bind="value: SubjectName" disabled="disabled"/>
                        }
                        else
                        {
                            <select data-bind="options: allSubjects, optionsCaption: 'Select subject ...', value: selectedSubject, 
                                                                optionsText: function(item) {
                                                                    return item.Name()}">
                            </select> 
                        }                         
                        
                    </li>
                    <li>
                        <label><strong>Start Date</strong></label>
                        <span class="valMess" data-bind="validationMessage: StartDateString"></span>
                        <input type="text" class="datepicker" data-bind="value: StartDateString" />
                    </li>
                    <li>
                        <label><strong>Finish Date</strong></label>
                        <span class="valMess" data-bind="validationMessage: FinishDateString"></span>
                        <input type="text" class="datepicker" data-bind="value: FinishDateString" />
                    </li>

                   
                </ul>  
                <div class="buttons">
                    @if (Model.Id > 0)
                    {
                        <input type="button" name="UpdateCource" value="Update Cource" data-bind="click: updateCource" />
                    }
                    else
                    {
                        <input type="button" name="AddCource" value="Add Cource" data-bind="click: addCource, enable: enabled()" />
                    }
                </div> 
                             
            </div>
        </div>        
        @if (Model.Id > 0)
        {
            <h1 class="addTitle">Students</h1>
            <div class="list">
                <div class="buttonPanel">
                    <button class="addSchool" data-bind="click: openAddStudent">Add Student</button>
                </div>
                <br>
                
                <div data-bind="foreach: currentStudents" class="data-table">
                    <div class="table-block">
                        <div class="IdStud" data-bind="text: Id"></div>
                        <div>
                            <a data-bind="attr: { href: '/Home/Student/' + Id() }">
                                <div data-bind="    text: FirstName() + ' '+LastName()"></div>
                            </a>
                        </div>
                        <div data-bind="text: Email"></div>
                        <div data-bind="text: Dob"></div>
                        <div data-bind="text: Mark"></div>
                        <button class="deleteButton changeButton" data-bind="click: $root.openChangeMark">Change mark</button>
                        <button class="deleteButton" data-bind="click: $root.openDeleteStudent">Delete Student</button>                        
                    </div>
                </div>
            </div>               
        } 
        
    </div>
</div>
